section.sex {
    margin-top: 140px;
}
nav img{
	margin-right: 25px;
}

ul link {
	margin-right: 40px;
}
.gray-log-link {
	margin-left: 15px;
}
.bitbucket-log-link{
	margin-left: -100px;
}
.jenkins-log-link{
	margin-left: -130px;	
}
.intra-log-link{
	margin-left: -178px;
}
.zabbix-log-link{
	margin-left: -200px;
}
.qase-log-link{
	margin-left: -259px;
}
.my-btn{
	background-color: #0e4784;
	border-color: #0e4784;
}
.my-btn:hover{
	background-color: #215d9d;
	background-color: #215d9d;
}
.me-btn{
	background-color: #ffffff00;
	border-color: #0e4784;
}
.mi-btn{
	background-color: #818102;
	border-color: #ffffff;
}
